.TabelHargaBuah {
  width: 60%;
  margin: 20px auto;
  border-radius: 25px;
}
.TabelHargaBuah h1 {
  text-align: center;
}

.TabelHargaBuah table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 2px solid black;
  border-collapse: collapse;
  width: 90%;
  margin: 20px auto;
}

.TabelHargaBuah table td {
  border: 1px solid white;
  padding: 8px;
  background-color: coral;
}

.TabelHargaBuah table tr:first-child td {
  background-color: gray;
  text-align: center;
  height: 30px;
  font-weight: bold;
  color: white;
}
